.card {
    background: #ffdefb;
    text-align: left;
    justify-content: center;
    margin: .5rem;
    
}

.card>.img-container {
    overflow: hidden;
    text-align: center;
    justify-content: center;  
    margin: 15px;

}

.card>.img-container>img {
    width: 200px;
    height: 200px;
}